.main {
    margin-left: 40px;
}

.prod-container {
    table-layout: auto;
    width: 100%;
    background-color: #FFF;
    position: relative;
    overflow: hidden;
    padding-left: 10px;
    padding: 50px;
    display: block;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7), -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
    margin: 20px 40px 10px 40px;
}
tr, td {
    border: solid;
}

td {
    border: 1px solid orangered;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button1 {background-color: #4CAF50;} /* Green */
.button2 {
    background-color: #008CBA; /* Blue */
    font-size: 12px;
    width: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */

