.cartTitles{
    display: flex;
    justify-content: space-around;
    border-bottom: solid 1px;
}

.product{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
}

.product button{
    color: #ff6a6a;
    background-color: #ffdcc8;
    border-radius: 15px;
    height: 24px;
    border: solid 1px;
}

.reduction{
    display: flex;
}

.reduction .submit{
    background-color: #FFCF00;
    border: none;
    height: 40px;
    width: 223px;
    font-size: 24px;
}

.prices{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    left: 70%;
}

.price{
    display: flex;
    justify-content: space-between;
}

.totalPrice{
    border-top: solid 1px;
}

.prices input{
    background-color: #FFCF00;
    border: solid 1px;
    height: 50px;
    width: 300px;
    border-radius: 6px;
    font-size: 24px;
    box-shadow:10px 10px black;
}

