*{
    margin: 0;
}
main{
    width: 50%;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.range input {
    width: 100%;
}
.catalogue {
    justify-content: center;
}
.color{
    max-width: 300px;
    display: flex;
    flex-wrap: nowrap;
}
.color > div {
    height: 75px;
    width: 150px;
    margin: 10px;
}
.color1 {
    background-color: Grey ;
}
.color2 {
    background-color: Yellow;
}
.color3 {
    background-color: Blue ;
}
.color4 {
    background-color: Orange ;
}
.color5 {
    background-color: Black ;
}


.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.cards {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.card {
    margin: 2px;
    width: 50px;
    background-color: thistle;
}
.results {


}
.table,
td {
    border: 1px solid #333;
}
thead,
tfoot {
    background-color: #333;
    color: #fff;
}
